{% extends "base.html" %}
{% block title %}О курсе и сайте{% endblock %}
{% block content %}
    <div class="container-md">
        <div class="text-center"><p class="h3">Фонетика и фонология – 2021</p></div>
        <ul class="list-group-flush text-start">
            <li class="list-group-item h4">Q&A: как пользоваться сайтом</li>
            <li class="list-group-item">
                <p class="h5">❓Что можно делать на сайте? Зачем он нужен?</p>
                Если у вас возник вопрос по курсу (технический, научный – любой), задайте его <a href="{{ url_for('create_question') }}">здесь</a>.
                <br>Если, наоборот, вы сами готовы помочь, выбирайте тему из <a href="{{ url_for('questions') }}">списка вопросов</a>.
                <br>Помимо этого на сайте вы получаете <a href="{{ url_for('todo_student') }}">задания</a>, которые нужно выполнять. Отметки вы можете отслеживать у себя в <a href="{{ url_for('profile') }}">профиле</a>.
                <br>На <a href="{{ url_for('main') }}">главной странице</a> будут публиковаться важные объявления, а также, если придётся, ссылки на лекции.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Как обратить внимание определённого пользователя на своё сообщение?</p>
                Давая ответ или отвечая на комментарий к заданию, поставьте <b>@</b> перед отображаемым именем, например: <em>@Фонема_Ы, привет! Вот мой вопрос</em>.<br>
                Если <em>Фонема_Ы</em> существует, ей будет отправлено уведомление.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Почему некоторые отображаемые имена – зелёные?</p>
                Это ассистенты и преподаватели. Так вы их не потеряете!
            </li>
            <li class="list-group-item">
                <p class="h5">❓Зачем указывать настоящие имя и фамилию в профиле?</p>
                Это нужно, чтобы мы смогли без ошибок выставлять вам отметки.<br>
                Пожалуйста, указывайте настоящие имена и фамилии <b>как в паспорте</b>. Эти сведения <b>не</b> будут доступны другим студентам.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Видна ли моя успеваемость другим студентам?</p>
                Нет. Ваши однокурсники не могут просматривать сведения о чужой успеваемости.<br>
                Отслеживать свои отметки вы можете с соответствующем разделе <a href="{{ url_for('profile') }}">профиля</a>.
            </li>
            <li class="list-group-item">
                <p class="h5">❓А что за зелёная рамка вокруг некоторых ответов?</p>
                Такая рамка означает, что ответ был проверен ассистентами или преподавателями. Ему можно доверять (но мыслите критически!).
            </li>
            <li class="list-group-item">
                <p class="h5">❓Неужели нельзя использовать курсив и жирных шрифт?</p>
                Конечно можно! Используйте <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>. Окружите нужный фрагмент символом <b>*</b> так: **<b>жирный шрифт</b>**, *<em>курсив</em>*.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Но картинку-то нельзя вставить... Как так-то?!</p>
                Ещё как можно! В месте вставки картинки оставьте эту конструкцию:<br>
                <br>![<em>описание картинки (по желанию)</em>][<b>id</b>]<br>
                <br>Затем в самом конце сообщения добавьте (id должны совпадать; в каждом случае это какие-то числа):<br>
                <br>[<b>id</b>]: <em>ссылка на картинку</em><br><br>
                <b>**Очень**</b> рекомендуем прочитать полную инструкцию к <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Какое на сайте время?</p>
                Везде на сайте – московское время. Учтите это, работая с дедлайнами.
            </li>
            <li class="list-group-item">
                <p class="h5">❓У меня возникли технические проблемы – что делать? А ещё у меня есть предложение, как улучшить сайт!</p>
                Напишите Юре Макарову: <a href="mailto:iurmak@bk.ru" class="link-primary">iurmak@bk.ru</a>.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Я хочу изменить имейл/пароль/etc.</p>
                Вы можете изменить отображаемое и настоящее имена, фамилию, группу, имейл и пароль у себя в <a href="{{ url_for('profile') }}">профиле</a>.
            </li>
            <li class="list-group-item">
                <p class="h5">❓Я не хочу получать имейлы с этого сайта.</p>
                Настройте уведомления в <a href="{{ url_for('notification') }}">соответствующем разделе</a>.
            </li>
        </ul>
    </div>
    <table class="table table-borderless align-top">
        <thead>
        <tr class="text-center">
            <th class="col-4">
                <span class="h5">Преподаватели</span>
            </th>
            <th class="col-8">
                <span class="h5 text-center">Ассистенты</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="row text-center">
                    <div class="col">
                        <img src="https://www.hse.ru/pubs/share/thumb/385932500:c208x208+38+0:r190x190!.jpg" class="rounded" alt="И. А. Зибер" height="200" width="200"><br>
                        <span class="h6">Инна Арнольдовна Зибер</span><br>
                        <a href="mailto:innasieber@gmail.com"class="link-dark">innasieber@gmail.com</a><br>
                        <span class="text-secondary">Фонетика</span>
                    </div>
                    <div class="col">
                        <img src="https://www.hse.ru/pubs/share/thumb/162427017:c600x600+0+0:r190x190!.jpg" class="rounded" alt="А. В. Подобряев" height="200" width="200"><br>
                        <span class="h6">Александр Владимирович Подобряев</span><br>
                        <a href="mailto:apodobryaev@hse.ru" class="link-dark">apodobryaev@hse.ru</a><br>
                        <span class="text-secondary">Фонология</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="row text-center">
                    <div class="col">
                        <img src="/static/Лёша.jpg" class="rounded mx-auto d-block" height="200" width="200"><br>
                        <span class="h6">Лёша Бакланов</span><br>
                        <a href="https://vk.com/thaumaturghos" class="link-dark">vk.com/thaumaturghos</a><br>
                    </div>
                    <div class="col">
                        <img src="/static/Юра.JPG" class="rounded mx-auto d-block" height="200" width="200"><br>
                        <span class="h6">Юра Макаров</span><br>
                        <a href="https://vk.com/iurmak" class="link-dark">vk.com/iurmak</a><br>
                    </div>
                    <div class="col">
                        <img src="/static/Тася.jpg" class="rounded mx-auto d-block" height="200" width="200"><br>
                        <span class="h6">Тася Чевелёва</span><br>
                        <a href="https://vk.com/ancheveleva" class="link-dark">vk.com/ancheveleva</a><br>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}