{% extends "base.html" %}
{% block title %}Все отметки{% endblock %}
{% block content %}
    <div class="row justify-content-between">
        <div class="col h5">Отметки всех студентов курса на {{ Amend.datetime(Check.time()) }}</div>
        <div class="col-2">
            <form action="" method="post" id="download">
                <input class="btn btn-outline-primary" type="submit" form="download" name="download" value="Скачать">
            </form>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit" form="grades">Сохранить отметки</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Группа</th>
                {% for assignment in Assignment.query.all() %}
                    <th scope="col"><a tabindex="-1" class="link-dark" href="{{ url_for('assignment', id=assignment.assignment_id) }}">{{ Amend.md(assignment.title) }}</a>, {{ Amend.datetime(assignment.datetime) }}</th>
                {% endfor %}
            </tr>
          </thead>
        <tbody>
            <form action="" method="post" id="grades">
                {% for student in User.query.all() %}
                    {% if student.role.role != 2 %}
                        {% set value = student.id %}
                        <tr>
                            <td class="col"><label for="{{ value }}"><a tabindex="-1" class="link-dark" href="{{ url_for('profile', user_id=value) }}">{{ student.surname }}</a></label></td>
                            <td class="col"><label for="{{ value }}">{{ student.firstname }}</label></td>
                            <td class="col"><label for="{{ value }}">{{ student.group.group }}</label></td>
                            {% for assignment in Assignment.query.all() %}
                                {% if Handed_assignment.query.filter_by(source_assignment_id=assignment.assignment_id, assignee=value).first() %}
                                    <td class="col"><input class="form-control" id="{{ value }}" type="number" name="{{ value }}_{{ Handed_assignment.query.filter_by(source_assignment_id=assignment.assignment_id, assignee=value).first().assignment_id }}" value="{{ Handed_assignment.query.filter_by(source_assignment_id=assignment.assignment_id, assignee=value).first().grade }}"></td>
                                {% else %}
                                    <td class="col table-secondary"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </form>
        </tbody>
        </table>
    </div>
{% endblock %}