{% extends "base.html" %}
{% block title %}Проверка задания № {{ assignment.source_assignment_id }}{% endblock %}
{% block content %}
    <div class="container-md">
        <div class="card">
            <form action="" method="post" id="check">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col align-self-center"><a class="h5 link-dark" href="{{ url_for('assignment', id=assignment.source_assignment_id) }}">{{ assignment.assignment.title }}</a></div>
                        <div class="col-2 align-self-center align-content-end">
                            <span><label for="grade">Отметка <input class="col-4" value="{{ assignment.grade }}" id="grade" type="number" name="grade"></label></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-md-2">Описание</dt>
                        <dd class="col-md-10">
                            <p>{{ assignment.assignment.description }}</p>
                        </dd>
                        <dt class="col-md-2">Тип и статус</dt>
                        <dd class="col-md-10">
                            <p>{{ assignment.assignment.type.text }}, {{ Amend.assignment_status(assignment.status_id) }}</p>
                        </dd>
                        <dt class="col-md-2">Когда опубликовано</dt>
                        <dd class="col-md-10">
                            <p>{{ assignment.assignment.datetime }}</p>
                        </dd>
                        <dt class="col-md-2">Когда сдано</dt>
                        <dd class="col-md-10">
                            <p>{{ assignment.datetime }}</p>
                        </dd>
                        <dt class="col-md-2">Студент</dt>
                        <dd class="col-md-10">
                            <p>{{ Amend.username(assignment.user.username) }}</p>
                        </dd>
                        <dt class="col-md-2">Ответ студента</dt>
                        <dd class="col-md-10">
                            <p style="font-family:Charis SIL;font-size:larger">{{ Amend.md(assignment.answer) }}</p>
                        </dd>
                        <dt class="col-md-2"><label for="main_comment">Комментарий проверяющего {% if assignment.is_checked %}<br><span class="text-secondary">{{ Amend.username(User.query.get(assignment.checked_by).username) }}, {{ Amend.datetime(assignment.when_checked) }}</span>{% endif %}</label></dt>
                        <dd class="col-md-10">
                            <p style="font-family:Charis SIL;font-size:larger">{{ Amend.md(assignment.main_comment) }}</p>
                            <p><textarea class="form-control" id="main_comment" name="main_comment" style="font-family:Charis SIL;font-size:larger">{{ assignment.main_comment }}</textarea></p>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <span class="col align-self-center text-center align-content-start border border-danger rounded">Дедлайн: <b>{{ assignment.assignment.deadline }}</b></span>
                        <div class="col align-self-center text-center">Сейчас: {{ Amend.datetime(Check.time()) }}</div>
                        <div class="col text-center">
                            <button class="btn btn-primary" type="submit" form="check">Завершить проверку</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><br>
        <div class="card">
            <div class="card-header">
                <div class="align-self-center"><span class="h6">Переписка со студентом</span></div>
            </div>
            <div class="card-body">
                <form action="" method="post" id="add_comment">
                    <dl class="row">
                        <dt class="col-sm-2 align-self-center text-center"><p>
                            <span class="align-self-center"><button class="btn btn-primary" type="submit" form="add_comment">Отправить</button></span>
                        </p></dt>
                        <dd class="col-sm-10 align-self-center"><textarea class="form-control" name="new_comment"></textarea></dd>
                    </dl>
                </form>
            </div>
            {% if assignment.discussion %}
                <div class="card-footer">
                    {% for comment in assignment.discussion %}
                        <div class="row">
                            <div class="col-md-10">
                                <span class="align-middle">
                                    {{ Amend.md(comment.text) }}
                                </span><br>
                                <span class="text-secondary align-middle">
                                    {{ Amend.username(comment.user.username) }}, {{ Amend.datetime(comment.datetime) }}
                                </span>
                            </div>
                            <div class="col-md align-self-center text-end">
                                <form action="" method="post" id="comment_actions" class="btn-group btn-group-sm">
                                    <button class="btn btn-danger" type="submit" form="comment_actions" name="delete_comment" value="{{ comment.comment_id }}">удалить</button>
                                    <button class="btn btn-warning" type="submit" form="comment_actions" name="edit_comment" value="{{ comment.comment_id }}">править</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}