{% extends "base.html" %}
{% block title %}Править пост{% endblock %}
{% block content %}
    <div class="container-md">
        <form action="" method="post">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        {% if Post.title %}
                            <dt class="col-sm-2"><label for="title" >Заголовок</label></dt>
                            <dd class="col-sm-10">
                                <input class="form-control" name="title" id="title" type="text" value="{{ Post.title }}" style="font-family: 'Charis SIL'">
                            </dd>
                        {% endif %}
                        <dt class="col-sm-2"><label for="text">Текст</label></dt>
                        <dd class="col-sm-10">
                            <textarea required class="form-control" name="text" id="text" style="font-family: 'Charis SIL'">{{ Post.text }}</textarea>
                        </dd>
                        <dt class="col-sm-2"><label for="tag">Рубрика</label></dt>
                        <dd class="col-sm-10">
                            <select class="form-select" name="tag" id="tag">
                                {% for tag in Tags.query.all() %}
                                    {% if tag.id == Post.tag %}
                                        <option selected value="{{ tag.id }}">{{ tag.text }}</option>
                                    {% else %}
                                        <option value="{{ tag.id }}">{{ tag.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-3 align-self-center text-end">
                            <button type="submit" class="btn btn-primary">Внести изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}