{% extends "base.html" %}
{% block title %}Новости курса{% endblock %}
{% block content %}
    <div class="container-md">
        <div class="row">
            <h4 class="text-center col">Новости курса</h4>
            <form class="col-auto" method="post" id="sort">
                <select class="form-select" name="parameter" onchange="this.form.submit()">
                    {% if not current %}<option selected>Сортировать по рубрике</option>{% endif %}
                    {% for tag in Tags.query.all() %}
                        {% if tag.id != 3 %}
                            <option {% if current == tag.id %}selected{% endif %} value="{{ tag.id }}">{{ tag.text }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div><br>
        <ul class="list-group list-group-flush">
            {% if posts == [] %}Отсутствуют.{% endif %}
            {% for post in posts %}
                <li class="list-group-item col">
                    <div class="row">
                        <div class="col">
                            <p class="text-end h6">{{ Tags.query.get(post.tag).text }}, {{ Amend.datetime(post.datetime) }}</p>
                            <p>
                                {{ Amend.md(post.text) }}
                            </p>
                        </div>
                        {% if session.get('status') == 2%}<div class="col-md-1"><form action="" method="post" id="post_actions" class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-danger" type="submit" form="post_actions" name="delete_post" value={{ post.post_id }}>удалить</button>
                            <button class="btn btn-warning" type="submit" form="post_actions" name="edit_post" value={{ post.post_id }}>править</button>
                        </form></div>{% endif %}
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div><br>
    {% if items.has_prev or items.has_next %}
        <div class="container text-center">
            <div class="row justify-content-center">
                {% if items.has_prev %}
                    <div class="col-4">
                        <a class="btn btn-outline-secondary" href="{{ url_for('main', page=items.prev_num) }}">Назад</a>
                    </div>
                {% endif %}
                {% if items.has_next %}
                    <div class="col-4">
                        <a class="btn btn-outline-secondary" href="{{ url_for('main', page=items.next_num) }}">Вперёд</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}