{% extends "base.html" %}
{% block title %}Массовое выставление отметок{% endblock %}
{% block content %}
    <div class="row justify-content-between">
        <div class="col h5">Задание «{{ assignment.title }}» от {{ Amend.datetime(assignment.datetime) }}</div>
        <div class="col-2">
            <form action="" method="post" id="download">
                <input class="btn btn-outline-primary" type="submit" form="download" name="download" value="Скачать">
            </form>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit" form="grades">Сохранить отметки</button>
        </div>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col-2">Фамилия</th>
                <th scope="col-2">Имя</th>
                <th scope="col-1">Отметка</th>
            </tr>
          </thead>
        <tbody>
            <form action="" method="post" id="grades">
                {% for student in handed_assignments %}
                    {% set value = student.user.surname + student.user.firstname + '_' + student.user.email %}
                    <tr>
                            <td class="col-2"><label for="{{ value }}"><a tabindex="-1" class="link-dark" href="{{ url_for('check_assignment', id=student.assignment_id) }}">{{ student.user.surname }}</a></label></td>
                            <td class="col-2">{{ student.user.firstname }}</td>
                            <td class="col-1"><input class="form-control" id="{{ value }}" type="number" name="{{ value }}" value="{{ student.grade }}"></td>
                    </tr>
                {% endfor %}
            </form>
        </tbody>
        </table>
    </div>
{% endblock %}