{% extends "base.html" %}
{% block title %}Новое задание{% endblock %}
{% block content %}
    <div class="container-md">
        <form action="" method="post">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3"><label for="title">Заголовок</label></dt>
                        <dd class="col-sm-9">
                            <input required type="text" class="form-control" name="title" id="title" placeholder="Затранскрибировать стих" maxlength="200">
                        </dd>
                        <dt class="col-sm-3"><label for="description">Описание</label></dt>
                        <dd class="col-sm-9">
                            <textarea required class="form-control" name="description" id="description" placeholder="Мороз и солнце! День чудесный!.." maxlength="20000"></textarea>
                        </dd>
                        <dt class="col-sm-3"><label for="deadline">Дедлайн</label></dt>
                        <dd class="col-sm-9">
                            <input class="form-control" name="deadline" id="deadline" placeholder="11.02.2040 15:23" pattern="[0-3]\d\.[01]\d\.20\d\d [0-2]\d:\d\d">
                        </dd>
                        <dt class="col-sm-3">
                            <p title="Всем студентам: all. Группам: 201 202. Индивидуально: *username."><label for="assignees">Кому</label>
                        </dt>
                        <dd class="col-sm-9">
                            <input required class="form-control" name="assignees" id="assignees" placeholder="202 *Аня_Зуб *alex228">
                        </dd>
                        <dt class="col-sm-3"><label for="type">Тип</label></dt>
                        <dd class="col-sm-9">
                            <select class="form-select" name="type_id" id="type">
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.text }}</option>
                                {% endfor %}
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <div class="row justify-content-between">
                        <div class="col-4 align-self-center">
                            <label class="form-check-label" for="is_grade">Не требует выполнения (просто отметка)</label>
                            <input class="form-check-input text-dark" type="checkbox" name="is_grade" id="is_grade">
                        </div>
                        <div class="col-2 align-self-center">
                            <label class="form-check-label" for="is_draft">Черновик</label>
                            <input class="form-check-input text-dark" type="checkbox" name="is_draft" id="is_draft">
                        </div>
                        <div class="col-3 align-self-center align-content-center">Сейчас: {{ Amend.datetime(Check.time()) }}</div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Добавить задание</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}